.pokemons-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .card {
      margin: 10px;
    }
  }
}

.filters {
  display: block;
  margin: auto;
  max-width: calc(200px * 6 + 10px * (5 - 1));
}
