<div class="pokemons-container">
  <app-pokemons-filters
    class="filters"
    (search)="onSearch($event)"
    (filter)="onFilterChange($event)"
  >
    <h3 class="search-history-title">The last Pokemons you searched for:</h3>
    <ul class="search-history">
      <li *ngFor="let search of getSearchHistory()">{{ search }}</li>
    </ul>
  </app-pokemons-filters>

  <div class="pokemons-list">
    <div *ngFor="let pokemon of filterPokemons()">
      <a (click)="selectPokemon(pokemon)">
        <app-pokemon-card class="card" [pokemon]="pokemon"></app-pokemon-card>
      </a>
    </div>
  </div>
</div>
