@import "../../../styles/mixins";

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 2px solid black;

  ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
    margin: 0;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $color-login-hover;
        }
      }
    }
  }

  button {
    padding-right: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: large;

    &:hover {
      color: $color-login-hover;
    }
  }
}
