@import "../styles/variables";

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  min-height: 100vh;
  width: 100%;
}

.outlet {
  padding-top: 150px; // Add some space between the navbar and content
}
